version: '3.8'

services:
  server:
    build: .
    container_name: server_boilerplate
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/boilerplate
      - JWT_SECRET=dev_secret
      - JWT_REFRESH_SECRET=dev_refresh_secret
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    container_name: boilerplate_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
